{{#each projects}}
<div class="card card-body mb-4">
<h4>{{projname}}</h4>
<p>{{description}}</p>
<p>{{username}}    &nbsp;&nbsp;{{email}}</p>
  <a class="btn btn-light btn-block mb-2" style="width: 100px" href="../projects/detail/{{id}}">Go</a>
</div>
{{/each}}